apiVersion: apps/v1
kind: Deployment 
metadata: 
 name: db
 namespace: vote-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
      namespace: vote-app
  template:
   metadata:
     labels:
       app: db
       namespace: vote-app
   spec:
    securityContext:
     fsGroup: 999   

    containers:
    - name: db
      image: postgres:15-alpine
      ports: 
      - containerPort: 5432
      env:
          - name: POSTGRES_USER
            valueFrom:
              configMapKeyRef:
                name: db-config
                key: POSTGRES_USER
          - name: POSTGRES_DB
            valueFrom:
              configMapKeyRef:
                name: db-config
                key: POSTGRES_DB
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: POSTGRES_PASSWORD
        
      livenessProbe:
        exec:
          command:
             - pg_isready
             - "-U"
             - postgres
        initialDelaySeconds: 15
        periodSeconds: 10

      readinessProbe:
        exec:
          command:
             - pg_isready
             - "-U"
             - postgres
        initialDelaySeconds: 5
        periodSeconds: 5

      resources:
        requests:
           memory: "64Mi"
           cpu: "50m"
        limits:
           memory: "128Mi"
           cpu: "100m"

      volumeMounts:
      - name: db-data
        mountPath: /var/lib/postgresql/data
    volumes:
    - name: db-data
      persistentVolumeClaim:
        claimName: db-data

---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: db-pdb
  namespace: vote-app
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: db