apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: vote-app
spec:
  replicas: 1
  selector: 
    matchLabels:
      app: worker
      namespace: vote-app
  template:
    metadata:
      labels:
        app: worker
        namespace: vote-app
    spec:
      containers:
      - name: worker
        image: dockersamples/examplevotingapp_worker:latest	

       